<% USE date %>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<table>
    <tr><th>Name</th><th>Source</th><th>Received</th></tr>
    <% FOREACH e = d -%>
    <tr><td><% e.name %></td><td><% e.source %></td><td><% date.format(e.received) %></td></tr>
    <% END -%>
</table>
</html>
